<!DOCTYPE html>
<html lang="en">
<link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>AppForMTurk</title>
</head>
<body>
<table>
    <tr>
        <td>{{label1}}</td>
        <td>{{label2}}</td>
        <td>
            <button style="font-size:16px" onclick="window.location.href='/dashboard'" class="btn btn-secondary">Dashboard
                <i
                        class="fa fa-dashboard"></i>
            </button>
        </td>
    </tr>
    <tr>
        <td>{{label1}}</td>
        <td>{{label2}}</td>
        <td>
            <button style="font-size:16px" onclick="window.location.href='/dashboard'" class="btn btn-secondary">Dashboard
                <i
                        class="fa fa-dashboard"></i>
            </button>
        </td>
    </tr>
    <tr>
        <td>{{label1}}</td>
        <td>{{label2}}</td>
        <td>
            <button style="font-size:16px" onclick="window.location.href='/dashboard'" class="btn btn-secondary">Dashboard
                <i
                        class="fa fa-dashboard"></i>
            </button>
        </td>
    </tr>
</table>

</body>
</html>