<!DOCTYPE html>
<html lang="en">
<link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>AppForMTurk</title>
</head>
<body>
<style>
    body {
        font-family: Arial;
        margin: 10px 10px 10px 10px;
        padding: 0;
        color: white;
        text-align: center;
        background: #555652;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div align="center" style="padding: 20px;">
    <table class="table table-striped table-dark table-borderless">
        {% if label[0]!='' %}
        <tr>
            <td style="text-align: center" colspan="3">
                IMAGE TASKS
            </td>
        </tr>
        {% endif %}
        {%for i in range(0,100)%}
        {% if label[i]!='' %}
        <tr>
            <td>{{label[i]}}</td>
            <td style="text-align: right">
                <form id="home-form{{i}}" action="{{ url_for('homepost') }}" method="POST"
                      enctype="multipart/form-data">
                    <button style="font-size:16px" type="submit"
                            class="btn btn-secondary" name="button" value='{{i}}'>
                        Refresh
                        <i class="fa fa-refresh"></i>
                    </button>
                </form>
            </td>
            <td style="text-align: right">
                <form id="home-form{{i }}" action="{{ url_for('dashboard') }}" method="POST"
                      enctype="multipart/form-data">
                    <button style="font-size:16px" onclick="window.location.href='/dashboard'"
                            class="btn btn-secondary" name="dashboard" value="{{i}}">
                        Dashboard
                        <i
                                class="fa fa-dashboard"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}

        {% if label[100]!='' %}
        <tr>
            <td style="text-align: center" colspan="3">
                VIDEO TASKS
            </td>
        </tr>
        {% endif %}
        {%for i in range(100,200)%}
        {% if label[i]!='' %}
        <tr>
            <td>{{label[i]}}</td>
            <td style="text-align: right">
                <form id="home-form{{ i }}" action="{{ url_for('homepost') }}" method="POST"
                      enctype="multipart/form-data">
                    <button style="font-size:16px"  type="submit"
                            class="btn btn-secondary" name="button" value='{{i}}'>
                        Refresh
                        <i class="fa fa-refresh"></i>
                    </button>
                </form>
            </td>
            <td style="text-align: right;">
                <form id="home-form{{ i}}" action="{{ url_for('dashboard') }}" method="POST"
                      enctype="multipart/form-data">
                    <button style="font-size:16px" onclick="window.location.href='/dashboard'"
                            class="btn btn-secondary" name="dashboard" type="submit" value="{{i}}">
                        Dashboard
                        <i
                                class="fa fa-dashboard"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>


<div style="padding: 50px">
    <button style="font-size:16px" onclick="window.location.href='/upload'" class="btn btn-secondary">New Task <i
            class="fa fa-plus"></i>
    </button>
</div>
<div>
    {% if percent!='' %}
    <table class="table table-hover table-dark">
        <tr>
            <td>
                <h3>{{percent}}</h3>
            </td>
        </tr>
    </table>
    {% endif %}
</div>

</body>
</html>