<!DOCTYPE html>
<html lang="en">
<link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>Mechanical Turk HIT Results</title>
</head>
<body style="background-color: #555652;">
<style>
    iframe {
        width: 33%;
        display: inline-block;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
</style>

<div style="margin-top: 5px;">
    <form id="personalPost" action="{{ url_for('personalp') }}" method="POST">
        <button type="submit" class="btn btn-secondary" id="button1" name="buttonone" value="1" style="width: 33%;
        display: inline-block;">Next
            <i class="fa fa-chevron-circle-right"></i></button>

        <button type="submit" class="btn btn-secondary" id="button2" name="buttontwo" value="2" style="width: 33%;
        display: inline-block;">Next
            <i class="fa fa-chevron-circle-right"></i></button>

        <button type="submit" class="btn btn-secondary" id="button3" name="buttonthree" value="3" style="width: 33%;
        display: inline-block;">Next
            <i class="fa fa-chevron-circle-right"></i></button>

    </form>
</div>


<div>
    <iframe src="{{page1}}" name="iframe_a" scrolling="no" height="700" width="500" frameborder="0"></iframe>

    <iframe src="{{page2}}" name="iframe_a" scrolling="no" height="700" width="500" frameborder="0"></iframe>

    <iframe src="{{page3}}" name="iframe_a" scrolling="no" height="700" width="500" frameborder="0"></iframe>
</div>

<div style="text-align:center; margin-bottom: 10px;">
    <button style="font-size:16px;" onclick="window.location.href='/Chart'"
            class="btn btn-secondary">Dashboard <i
            class="fa fa-dashboard"></i></button>
</div>
</body>
</html>